/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.css';
@import '~ngx-toastr/toastr';
 


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
body{
    margin: 0;
    padding: 0;
}
h1,h2,h3,.h1,.h2,.h3{
    text-shadow: gray 2px 2px 2px;
}