<div class="container col-12">
    <ul class="list">

        <div class="info__data">Mohye El-Deen Abou El-Ezz, Mansoura Qism 2, Mansoura, Dakahlia Governorate</div>
        &nbsp;&nbsp;&nbsp;&nbsp;


        <div class="info__data">(050)2316616,2316519</div>
        &nbsp;&nbsp;&nbsp;&nbsp;


        <div class="info__data">elsaidakhadiga@gmail.com</div>
        &nbsp;&nbsp;&nbsp;&nbsp;
    </ul>

        <button class="btn btn-outline-dark" style="background-color: #f7631b; margin-right: 30px;" routerLink="/AboutUs">About Us</button>    
</div>
