
    
    


  
      <!-- Hero section -->
    <section 
    class="hero-section set-bg image container-fluid" style="padding: 0;"
    [style.height.px]="myInnerHeight" >
    <div class="overlay">
  
          <div class="container">
              <div class="hero-text text-white">
                  <h2>Welcome To Our School</h2>
                  <p>Education is not preperation for life <br> Education is a life itself .</p>
              </div>
      </div>
      </div>
      </section>
      <!-- Hero section end -->


