<h1 class="text-center p-5">Contact Us</h1>
<div class="container">
    <div >
        <iframe class="w-100 mb-5" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d854.5558453292471!2d31.38924202916832!3d31.04788034781924!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14f79da5df6ed845%3A0xb6b5b7b92dde90ae!2z2YXYr9ix2LPYqSDYp9mE2LPZitiv2Kkg2K7Yr9mK2KzYqSDYp9mE2KXYs9mE2KfZhdmK2Kkg2KjZhtin2Ko!5e0!3m2!1sen!2seg!4v1581948615539!5m2!1sen!2seg"  height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        
    </div>
    <div class="row">
        <div class="col-4">
            <div class="icon mb-2">
                <i class=""><fa-icon [icon]='faHome'  class="p-3" aria-hidden="true =" size="2x" ></fa-icon></i>
                 <p class=" h6" > 
                    Mohye El-Deen Abou El-Ezz, Mansoura Qism 2, Mansoura, Dakahlia Governorate</p>
            </div>
            <div class="icon mb-4">
                <i><fa-icon [icon]='faPhone' class="p-3" size='2x' aria-hidden="true"></fa-icon></i>
                <p class="h6 ">(050)2316616,2316519</p>
            </div>
            <div class="icon mb-2">
                <i><fa-icon [icon]='faEnvelope' class="p-3" aria-hidden="true" size='2x'></fa-icon></i>
                <p class="h6">elsaidakhadiga@gmail.com</p>
            </div>
            

        </div>
       
        <!-- <div class="col-md-4">
            <input class="form-control mb-5" type="text" placeholder="Enter Your Name">
            <input class="form-control mb-5" type="text" placeholder="Enter Email Address">
            <input class="form-control mb-5" type="email" placeholder="Enter Subject">

        </div>
        <div class="col-md-4">
            <textarea class="form-control " placeholder="Enter Your Message"></textarea>
        </div>
    </div>
    <div class="d-flex justify-content-end">
        <button class="btn btn-lg btn-danger pr-4 pl-4 mb-5" style="background-color: #d82a4e;">Send</button>

    </div> -->
</div>