<div class="container col-12" style="background-color: black;">

    <div class="logo">
        <a routerLink="/"><img src="../../../assets/374353.png" alt="Electronic School"
                style="width: 40px;height: 40px; margin: 5px; margin-left: 50px;" />
            </a>
        <span routerLink="/">
            <h4 style="align-items: baseline; cursor: pointer; color: white;" >Electronic School</h4>
        </span>
    </div>


    <nav class="navbar navbar-expand-md">
        <div class="collapse navbar-collapse ">

            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                  <a class="nav-link " routerLink="/">Home <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" routerLink="aboutus">About Us</a>
                </li>

            
                <li class="nav-item">
                  <a class="nav-link" routerLink="/">School Activites</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="/Login">Login</a>
                  </li>



                  <li class="nav-item">
                    <a class="nav-link" routerLink="/contactus">Contact Us</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" routerLink="/">News</a>
                  </li>

              </ul>
          <form class="form-inline my-2 my-lg-0 " style="margin-right: 30px;">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-dark" style="background-color: #f7631b;" type="submit">Search</button>
          </form>

        </div>
      </nav>
     </div>
