
.container{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding:10px;
}


.logo{
    display: flex; 
    align-items: baseline;
}

.nav__items{
    display: flex; 
    align-items: baseline;
}


.nav-link{
    color: white;
    font-size: 15px;
    
}

.nav-link:hover{
    color: #f7631b;

}